* {
  margin: 0;
  padding: 0;
}

#wrapper {
  margin: 1em;
  display: flex;
}

#wrapper > * {
  margin: 1em;
}

select[name='id'] {
  width: 16em;
  padding: 0.8em;
  font-size: 1em;
}

#add > form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

#add > form > input {
  font-size: 1em;
  padding: 0.8em;
}

#add > form > input[type='submit'] {
  margin-top: 1em;
}

#words {
  width: 24em;
  height: fit-content;
  padding: 0.8em;
  border-radius: 0.8em;
  box-shadow: 0 0 0.8em 0 rgba(0, 0, 0, 0.2);
}

#words .word {
  display: flex;
  margin: 0.8em 0;
}

#words .word > .key {
  width: 6em;
  font-weight: 700;
  text-align: center;
}

.value {
  padding: 0.4em;
}

#wordViewer input[type='submit'] {
  margin: 1em;
  padding: 0.4em;
  width: 6em;
  font-size: 1em;
}
